// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Release (Production) Environment Configuration
API_BASE_URL = https:/$()/api.molt.mt
BUNDLE_ID_SUFFIX =
PRODUCT_BUNDLE_IDENTIFIER = com.molt.marketplace
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE
