// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Debug Environment Configuration
API_BASE_URL = https:/$()/api-dev.xirigo.com
BUNDLE_ID_SUFFIX = .debug
PRODUCT_BUNDLE_IDENTIFIER = com.xirigo.ecommerce$(BUNDLE_ID_SUFFIX)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
