// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Release (Production) Environment Configuration
API_BASE_URL = https:/$()/api.xirigo.com
BUNDLE_ID_SUFFIX =
PRODUCT_BUNDLE_IDENTIFIER = com.xirigo.ecommerce
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE
